/* Estilos da página index.html */

h1 {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.menu {
    margin: -21px;
    margin-left: -3px;
    font-family: 'Patua One', cursive;
}

.head {
    background-color: #000000;
    opacity: 100;
    margin: -5px;
    margin-bottom: 21px;
    
    display: flex;
    justify-content: space-around;
}

.titulo {
    display: flex;
    justify-content: left;
}

.lista-ordenada {
    margin-bottom: -3px;
    padding-top: 3px;
    padding-bottom: -7px;
    color: whitesmoke;
    list-style-type: none;
}

a:any-link { 
    text-decoration: none;
    color:whitesmoke;
}

a:hover{
    color: #595151;
}


.main-container {
    background-color: #595151;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
}

#texto-um {
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#img-um {
    width: 660px;
}

#contato-barra {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -4px;
    padding-top: 1px;
    
    font-family: 'Patua One', cursive;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.redes-sociais {
    list-style: none;
}

.redes-profissionais {
    list-style: none;
}

/* Estilos da página contato.html */

.main-form {
    margin-left: 10px;
    padding-top: 75px;
    color: whitesmoke;
}

.main-container-contato {
    background-color: #595151;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Patua One', cursive;
}

.main-endereco {
    margin-bottom: 0;
}

.main-mapa {
    color: whitesmoke;
}